---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Greeley DDA Serach</title>
	

</head>
<body ng-app="mainApp">

	<!-- <input type="text" ng-model="searchBox.$" placeholder="Global Search"><br> -->




	<div data-ng-controller="DirectoryCtrl">
	<input type="text" ng-model="searchBox.Business" placeholder="Search Business Names">

<!--   <select data-ng-model="searchBox.classifications" data-ng-options="class.Title for class in classifications">
 -->
<select ng-model="searchBox.classifications"
    ng-options="classification.Title for classification in 
        classifications track by classification.value">
 <option value="">-- Select --</option>
</select>
	<p>selected item is : <span data-ng-bind="searchBox.classifications"></span></p>

<!--     <select data-ng-model="searchBox.classifications">
        <option data-ng-repeat="class in classifications" data-ng-bind="class.Title">
        	<span data-ng-bind="class.Title"></span>
        </option>
      </select> -->

		<a name="top"></a>
				<dir-pagination-controls
					max-size="1000"
					direction-links="true"
					boundary-links="false">
		</dir-pagination-controls>
		<ul>
			<li data-dir-paginate="business in businesses | filter:searchBox | itemsPerPage:5 | orderBy:'Business'">
				<h3 data-ng-bind="business.Business" class="business"></h3>
				
				<p><span data-ng-bind="business.Street" class="street"></span><br>
				<span data-ng-bind="business.City" class="city"></span>, 
				<span data-ng-bind="business.State" class="state"></span>
				<span data-ng-bind="business.Zip" class="zip"></span></p>

				<p data-ng-bind="business.Website" class="website"></p>
				<p data-ng-bind="business.Phone" class="phone"></p>

				<p data-ng-bind="business.classifications" class="classifications"></p>

				<div data-ng-repeat="item in business.classifications">
					<p data-ng-bind="item"></p>
				</div>


			</li>
		</ul>	

		

	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" ></script>
	<script src="assets/js/controller.js"></script>
	<script src="assets/js/dirPagination.js"></script>
</body>
</html>